<%- include('header'); -%>

  <div class="contaier-fluid">
    <div class="row mrow">
      <div class="col-lg-6">
       
      </div>
      <div class="col-lg-6">
      
      </div>
    </div>
  </div>

<%- include('footer'); -%>
