<%- include("header"); -%>

  <div class="contaier-fluid">

    <div class="row mrow">
      <div class="shortcsreen col-lg-6">
			<div id="container">

			    <h1>SEE YOURSELF HERE</h1>
			    <div class="vid">
			    	<video id="gum" playsinline autoplay muted></video>
			    </div>
			    <div clas="vid">
			    	<video id="recorded" playsinline loop></video>
			    </div>
			    <div>
			    	<div class="row">
			    	<div class="col-md-6">			
			        <button class="mmargin btn btn-dark  " id="start">Start camera</button>
			        <button class="mmargin btn btn-dark  "  id="record" disabled>Start Recording</button>
			        </div>
			        <div class="col-md-6">	
			        <button class="mmargin btn btn-dark  " id="play" disabled>Play</button>
			        <button class="mmargin btn btn-dark  " id="download" disabled>Download</button>
			        </div>
			        </div>
			    </div>

			    <div>
			        <h4>Media Stream Constraints options</h4>
			        <p>Echo cancellation: <input type="checkbox" id="echoCancellation"></p>
			    </div> 

			    <div>
			        <span id="errorMsg"></span>
			    </div>
			   
			</div>
      </div>
      <div class="col-lg-6">
		<div class="row mrow">
			<div class="col-md-4">	
				<form  action="/" method="GET">
					<button type="submit" class="btn btn-lg btn-dark"> STORY</button>
				</form>
			</div>
			<div class="col-md-4">	
				<form  action="/poem" method="GET">
				<button type="submit" class="btn btn-lg btn-dark"> POEM</button>
				</form>
			</div>
			<div class="col-md-4">	
				<form  action="/" method="GET">
				<button type="submit" class="btn btn-lg btn-dark"> DIALOGUE</button>
				</form>
			</div>
		</div>
		<div class="row mrow">
			<p><%= Ques %></p>
		</div>
      </div>
    </div>
  </div>
<%- include("footer"); -%>
